# server config
HOST=localhost
PORT=3000

# node postgres config
PGHOST=db
PGPORT=5432
PGUSER=capstone
PGPASSWORD=admin123
PGDATABASE=ai_learning_insight

ACCESS_TOKEN_KEY= d744fc3f47b95a8e353443ddf4b9624f6c562b9da83a1518f6e242b71bc1efa4adc43d5eaa8e8cc13c4935500af08f020686e90f54fddcb81b3f563e696c7a02
ACCESS_TOKEN_AGE=1800  #seconds
REFRESH_TOKEN_AGE=30  #days

#untuk membuat token gunakan perintah ini di node:
# require("crypto").randomBytes(64).toString("hex");

